@model IEnumerable<MvcProject.Models.Review>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reviews</title>
    <link rel="stylesheet" href="~/Styles/DetailsStyle.css" />

</head>
<body>
    <h1>Reviews @Model.First().Product.Title</h1>

    <div>

        <section id="Reviews">
                    <img src="@Model.First().Product.Image" alt=reviews.Title style=" height: 200px; width:320px;" />
            @foreach (var reviews in Model)
            {

            <article>
                <p>User Name: @reviews.UserName</p>
                <p>Rating: @reviews.Rating</p>
                <p>Review: @reviews.Content</p>
                <hr />
            </article>
            }
                <a href="/Product/Details/@Model.First().ProductID">Details</a>
        </section>
    @*<a href="/Product/Details/">Details</a>*@
    </div>
    <a href="/Product/Index">Go Back</a>
    <footer><h6>&copy;Vehicle Reviews 2019</h6></footer>
</body>
</html>
