@model MvcProject.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Model.Title Page</title>
    <link rel="stylesheet" href="~/Styles/DetailsStyle.css" />

</head>
<body>
    <h1>Vehicle Details for @Model.Title</h1>
    <div>
        <p><img src="@Model.Image" alt=@Model.Title style=" height: 200px; width:270px;"/></p>
        <p><span>@Model.Title</span></p>
        <p>Manufacturer: <span>@Model.Manufacturer</span></p>
        <p>Make: <span>@Model.Make</span></p>
        <p>Model: <span>@Model.Model</span></p>
        <p>Category: <span>@Model.Category</span></p>
        <p>Year: <span>@Model.Year</span></p>
        <a href="/Review/Review/@Model.ID">Reviews</a>
        <hr/>
    </div>
    <a href="/Product/Index">Go Back</a>
    <footer><h6>&copy;Vehicle Reviews 2019</h6></footer>
</body>
</html>
