@model MvcProject.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
</head>
<body>
    <h1>Cars Detail for @Model.Title</h1>
    <div>
        <p>Title: <span>@Model.Title</span></p>
        <p><img src="@Model.Image" alt="Mclaren 570 Spyder" style=" height: 200px; width:340px;"/></p>
        <p>Manufacturer: <span>@Model.Manufacturer</span></p>
        <p>Make: <span>@Model.Make</span></p>
        <p>Model: <span>@Model.Model</span></p>
        <p>Category: <span>@Model.Category</span></p>
        <p>Year: <span>@Model.Year</span></p>
        <p>Content: <span>@Model.Content</span></p>
        <hr/>
    </div>

    <a href="/Product/Index">Go Back</a>

    <footer><h6>&copy;Car Reviews 2019</h6></footer>
</body>
</html>
