@model MvcProject.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Page</title>
</head>
<body>
    <h1>Cars Detail for @Model.Title</h1>
    <a href="/Home/Index">Go Back</a>
    <div>
        <p>Title <span>@Model.Title</span></p>
        <p>Title <span>@Model.Image</span></p>
        <p>Title <span>@Model.Manufacturer</span></p>
        <p>Title <span>@Model.Make</span></p>
        <p>Title <span>@Model.Model</span></p>
        <p>Title <span>@Model.Category</span></p>
        <p>Title <span>@Model.Year</span></p>
        <p>Title <span>@Model.Content</span></p>
        <hr/>
    </div>
    <footer>&copy;Car Reviews 2019</footer>
</body>
</html>
