@model MvcProject.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Model.Title Reviews</title>
    <link rel="stylesheet" href="~/Styles/DetailsStyle.css" />

</head>
<body>
    <h1>Vehicle Details for @Model.Title</h1>
    <div>
        <p><img src="@Model.Image" alt="Mclaren 570 Spyder" style=" height: 200px; width:340px;" /></p>
        <p><span>@Model.Title</span></p>
        <p>Review <span>@Model.UserName</span></p>
        <p>Review <span>@Model.Rating</span></p>
        <p>Review <span>@Model.Content</span></p>
        <p><a href="/Product/Details">Details</a></p>
        @*<p>Content: <span>@Model.Content</span></p>*@
        <hr />
    </div>
    <a href="/Product/Index">Go Back</a>
    <footer><h6>&copy;Vehicle Reviews 2019</h6></footer>
</body>
</html>
